{% extends 'base.html.twig' %}

{% block title %}Prestataires
{% endblock %}

{% block body %}
	<main class="categories">
		<h1>Prestataires</h1>


		{% for prestataire in prestataires %}
			{% for image in prestataire.images %}
				<img src="{{ asset('uploads/prestataires/mini/300x300-' ~ image.nom) }}" alt=""/>
				{{ prestataire.nom }}
			{% endfor %}

		{% endfor %}

	</main>
{% endblock %}
