{% extends 'base.html.twig' %}

{% block title %}Prestataires
{% endblock %}

{% block body %}
	{% include "components/_search_presta.html.twig" with{
		form : form
	} %}
	<main class="categories">

		<h1 class='text-center'>Nos prestataires</h1>


		<div class="container">

			<div class="row">
				{% for prestataire in prestataires %}
					<div class="col-md-3 mb-4">
						<div class="card" style="width: 18rem;">
							{% for image in prestataire.images %}
								<img src="{{ asset('uploads/prestataires/mini/300x300-' ~ image.nom) }}" class="card-img-top" alt=""/>
							{% endfor %}
							<div class="card-body">
								<h5 class="card-title">{{ prestataire.nom }}</h5>
								<a href={{path('app_prestataire_detail',{'id': prestataire.id} )}} class="btn btn-primary">Voir plus</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

		</div>

	</main>
{% endblock %}
