.container {
    max-width: 1200px;
    margin: 0 auto;
  }
 
  .carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

.bg-categorie{

  height: 500px;
  object-fit: cover;
  width: 100%;
}

