{% extends 'base.html.twig' %}

{% block title %}Catégories de services
{% endblock %}

{% block body %}
	<main class="categories">
		<h1 class='text-center'>Catégories de services</h1>
		<div class="container">
			<div class="row">
				{% for category in categories %}
					<div class="col-md-3 mb-4">
						<div class="card" style="width: 18rem;">
							<img src="{{ asset('images/Massage_thérapeutique1.jpg') }}" class="card-img-top" alt=""/>
							<div class="card-body">
								<h5 class="card-title">{{ category.nom }}</h5>
								<p>{{category.description}}</p>
								<a href={{path('app_categorie_detail',{'id': category.id} )}} class="btn btn-primary">Voir plus</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

	</main>
{% endblock %}
